[build]
builder = "nixpacks"

[[services]]
name = "biblioteca-api"
port = 3000
healthcheckPath = "/api/livros"

[build.nixpacks]
# Instrui o Railway a entrar na pasta backend antes do build
workdir = "backend"
